# 【1】 最初に全ファイル禁止
# すべてのファイルをignoreするがフォルダはしない
# gitは空フォルダは無視されるので影響はない
*
!*/

# 【2】 次に任意のファイルやフォルダを許可
# このファイルと同階層のフォルダ階層以降を許可
# !/lib/**
# このファイルと同階層以降の「??？_m」というフォルダ階層以降を許可
# !**/*_m/**
# このファイルと同階層のファイルだけ許可
!/.gitignore
!*.ts
!*.html
!*.json
!*.css
!*.png
!*gif
!*.icns
!*.ico
!*.eslintrc
!*.md
!new_deploy.py
!*.cjs


# 【3】 最後に常に除外するファイルやフォルダを禁止
# OSが自動で作るファイル
.DS_Store
Thumbs.db
node_modules/*
dist/*
build/*
